	/* Banner */
	
	#banner {
		background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, transparent, rgba(0,0,0,0.6) 97%), url("../../images/scout_photo.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #ffffff;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	#banner h2 {
		color: #ffffff;
		font-size: 3em;
		line-height: 1em;
		margin: 0 0 0.3em 0;
		padding: 0;
	}

	#banner p {
		margin: 1.5em 0 0 0;
	}

	#banner .actions {
		margin: 3em 0 0 0;
	}

	#banner .button {
		background-color: transparent;
		border: 1px solid #ffffff;
		font-weight: 300;
	}

	#banner .button:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.banner-title {
		flex: 3;
		margin-top: 95px;
	}

	#banner h2 strong {
		color: white;
	}

	.banner-button {
		flex: 2;
		display: flex;
		align-items: flex-end;
		margin-top: 80px;
	}